<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="nav-small-cap">EMPRESA</li>
        <li style="padding: 10px;"></li>
        <li>
          <a
            class="has-arrow waves-effect waves-dark"
            href="#"
            aria-expanded="false"
            ><i class="fas fa-server"></i
            ><span class="hide-menu">Productos </span></a
          >
          <ul aria-expanded="false" class="collapse">
            <li><a href="index.html">Instancias</a></li>
            <li><a href="index2.html">Firewall</a></li>
            <li><a href="index3.html">Balanceador de carga</a></li>
            <li><a href="index4.html">Dominios</a></li>
          </ul>
        </li>
        <li>
          <a
            class="has-arrow waves-effect waves-dark"
            href="#"
            aria-expanded="false"
            ><i class="fas fa-sitemap"></i
            ><span class="hide-menu"> Proyectos </span></a
          >
          <ul aria-expanded="false" class="collapse">
            <li><a href="index.html">Crear un proyecto</a></li>
          </ul>
        </li>
        <li>
          <a
            class="has-arrow waves-effect waves-dark"
            href="#"
            aria-expanded="false"
            ><i class="fas fa-user"></i><span class="hide-menu">Cuenta</span></a
          >
          <ul aria-expanded="false" class="collapse">
            <li><a href="app-calendar.html">Mi Perfil</a></li>
            <li><a href="app-chat.html">Autentificación</a></li>
            <li><a href="app-chat.html">Mi Balance</a></li>
            <li><a href="app-ticket.html">Usuarios</a></li>
            <li><a href="app-contact.html">Notificaciones</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
  <!-- Bottom points-->
  <div class="sidebar-footer"></div>
  <!-- End Bottom points-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
